@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700,900');

body{
  width: 100%;
  background-color: #262851;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
}
 .navbar{
   padding: 40px 0px;
   position: relative;
 }
 a.navbar-brand{
   font-size: 25px;
   font-weight: 600;
   text-transform: lowercase;
   color: #ffffff;
 }

 nav.navbar ul.navi-links{
   display: flex;
   justify-content: center;
   text-transform: capitalize;
   font-size: .8rem;
   margin: 0 10px;
 }

 nav.navbar ul.navi-links li{
   margin: 0 10px;
 }
 nav.navbar ul.navi-links a:hover:after{
   content: "";
   height: 6px;
   width: 6px;
   position: absolute;
   margin-left: 3px;
   border-radius: 50%;
   background: #d71758;
 }

 .navbar ul.social-icons li{
   margin-left: 25px;
 }

 .navbar ul.social-icons li a{
  color: #ffffff;
  font-size: 15px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d4c68;
  border: 1px solid #4d4c68;
 }


 .navbar ul.social-icons li a:hover{
  color: #d71758;
  background-color: #fff;
  border: 1px solid #fff;
 }


 .navbar ul.social-icons li:nth-child(1) a:hover{
  color: #221970;
 }

 .navbar ul.social-icons li:nth-child(2) a:hover{
  color: #00a8f3;
 }

 .navbar ul.social-icons li:nth-child(3) a:hover{
  color: #d71758;
 }

 .whole-car-view{
   position: relative;
 }

.year{
  font-weight: 600;
  font-size: 40rem;
  color: #22234a;
  position: absolute;
  top: 60%;
  left: 50%;
  width: 100vw;
  max-width: 100%;
  transform: translate(-50%, -50%);
  line-height: 500px;
  padding: 0;
  overflow: hidden;
  z-index: -1;
} 

section.whole-car-view .car-details{
  position: relative;
  left: 40px;
}

section.whole-car-view .car-details h1.car-name{
  font-size: 80px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 20px;
  line-height: 100px;
  color: #d71758;
}

section.whole-car-view .car-details h1.car-name span{
  font-size: 130px;
  color: #fff;
}

section.whole-car-view .car-details p.about-car{
  font-size: 14px;
  width: 60%;
  line-height: 20px;
  margin-bottom: 20px;
}

section.whole-car-view .car-details h4.production-year{
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
}

section.whole-car-view .car-details h4.production-year span{
  font-size: 22px;
  font-weight: 600;
  line-height: 20px;
  color: #fff;
}

section.whole-car-view .car-details a.btn-discover{
  background-color: #d71758;
  border: 2px solid #fea500;
  padding: 10px 10px 10px 30px;
  border-radius: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 5px;
  color: #fff;
  display: inline-flex;
  align-items: center;
}

section.whole-car-view .car-details a.btn-discover span{
  padding-right: 5px;
  position: relative;
}

section.whole-car-view .car-details a.btn-discover i{
  position: relative;
}

section.whole-car-view .car-details a.btn-discover:after{
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.20);
  border: 2px solid #fff;
}

section.whole-car-view .car-details a.btn-discover:hover span{
  animation-name: anim-btn-discover-text;
  animation-duration: 250ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

section.whole-car-view .car-details a.btn-discover:hover .btn-icon {
  animation-name: anim-btn-discover-icon;
  animation-duration: 250ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

section.whole-car-view .car-details a.btn-discover:hover:after {
  animation-name: anim-btn-discover-after;
  animation-duration: 250ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes anim-btn-discover-text{
  0% {left: 0px;}
  100%{left: 10px;}
}

@keyframes anim-btn-discover-icon{
  0%{left: 0px;}
  100%{left: 24px;
    transform: scale(2, 2);
    color: #d71758;
    padding-left: 20px;
  
  }
}

@keyframes anim-btn-discover-after {
  0% {background-color: rgba(255, 255, 255, 0.20);}
  100%{background-color: #fff;}
}























































/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}

/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








